
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
ul{
    display: flex;
    gap: 30px;
    
}
ul li{
    list-style-type: none;
    font-size: 18px;
}

.g3-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.g3 h3{
    font-weight: 700;
    font-size: 30px;
}

.brand{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 630px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}
.brand h2{
    font-size: 35px;
}
.brand p{
    font-size: 12px;
}

.explore{
    width: 140px;
    height: 50px;
    border-radius: 6px;
    background-color: #f5870a;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.img-header{
    height: 700px;
    width: 1440px;
    margin: 0 auto;
}
    
/*------------ Quick list of Our 
------------------section 1------------------ */
.section1{
    margin-top: 80px;
    margin-bottom: 120px;
}
.Quick-list-flex{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    
}
.Quick-pic-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.Quick-pic-grid img{
    height: 300px;
    width: 300px;
}
.quick-description h3{
    font-weight: 500;
    font-size: 35px;
}   
.quick-description h3 .bold{
    font-weight: bolder;
    
}
.quick-description h3 .yellow{
    color: #da7808;
}

/* --------Features you will
love & enjoy
section2------------ */
.features-love-grid{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.feature-love-5flex{
    width: 550px;
    height: 900px;
    
}
.arc-pic img{
    width: 550px;
    height: 900px;
    position: relative;

}
.larachara{
    width: 250px;
    height: 150px;
    background-color: #f7ac57;
    position: absolute;
    left: 1050px;
    right: ;
    top: 2750px;
    border-radius: 10px;
}
.larachara p {
    font-size: 2em;
    font-weight: 700;
    color: white;
    padding-left: 30px;
}
.feature-love-description{
    margin-bottom: 10px;
    
    box-shadow: ;
    padding: 15px;
    box-shadow: 20px 20px 50px grey;
}
.feature-love-description h4{
    font-size: 20px;

}
.feature-love-description1 h4, .some-facts h3, .sponsors h3{
    font-size: 30px;
    
}
.feature-love-description1 h4{
    border-left: 6px solid rgb(223, 129, 15);
    padding-left: 10px;
}

/* ---section3 some facts---- */
.section3{
    margin-bottom: 150px;
}
.some-facts-container, .section4-container{
    display: flex;
    flex-direction: column;
    align-items: ;
    margin-left: 480px;
    margin-top: 60px;
    
}
.some-facts, .sponsors{
    width: 500px;
   
}

.box-container, .logo-container{
    display: flex;
    gap: 70px;
    align-items: center;
    
}
.box{
    border: 3px solid tomato;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 6px;
}
.box h3{
    font-size: 25px;
}
.box p{
    font-weight: 600;
}

/* -----section4--------- */
.section4-container{

}
.sponsors{
    margin-left: 300px;
    text-align: center;

}
.logo-container{}

.logo{
    width: 140px;
    height: 120px;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
    
}
.logo img{
    color: gray;
}

/* footer--------------------- */
.footer{
    width: 1200px;
    height: 70px;
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    margin-left: 500px;
    margin-top: 200px;
    padding-top: 25px;

    
}
